<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1> 
</div>
<!-- <div class="mx-auto" style="width: 50%;"> -->
<div class="jumbotron text-center"> 
    <h1>Search your video</h1>
    <div  class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
  
</div>
<router-outlet></router-outlet>
