/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
    max-width: 100%;
    background-color: #ffbd52;
    min-height: 100%;
    min-height: 100vh;
    position: relative;
    
}