.home-container {
    margin: 0;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
}

.input-group-text {
    cursor: pointer;
}
.input-group-text:hover {
    border: 1px solid #999;
    border-radius: 5px;
}
.form-control {
    opacity: 0.85;
}

.form-group {
    f
    display: inline-table;
    vertical-align:top;
}